---
title: "Home"
description: "Sid Menon's blog"
date: 2025-09-14
autotagging: false
---
My name is Sidharth (Sid) Menon.

I am currently based out of San Francisco and am interested in the intersection of technology, design, and culture.

I grew up in Ohio and previously studied at Harvard.

Email: menon.sid.k [at] gmail [dot] com

> I have had my invitation to this world's festival, and thus my life has been blessed. - Tajore

<style>
	blockquote {
		border-left: none;
		padding-left: 0;
		font-style: italic;
		margin-top: 2rem;
	}
</style>
